* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 62.5%;
    background-image: url(../images/background.jpg);
    background-color: gray;

    font-family: Helvetica;
}
.content {
    max-width: 400px;
    margin: 0 auto;
    font-size: 2.5em;
}
h1 {
    color: #f60;
    text-align: center;
    margin: 0.25em auto;
    font-size: 2em;
}
header{
    padding: .4em;
}
header, #principal, footer {
    background-color: white;
    border-radius: .2em;
    margin: 0.5em auto;
    text-align: center;
}
.containerBorder {
    padding-bottom: 13px;
    border-bottom: 1px solid #00000054;
}
#content {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
#principal, footer {
    background-color: white;
    border-radius: 0.2em;
    display: block;
    padding-top: .4em;
    min-height: 200px;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
footer{
    min-height: auto !important; 
}
footer div img {
    width: 40%;
    margin: 12px;
}
.custom-btn {
    color: #000;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
      text-decoration: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 1px rgba(0,0,0,0);
    outline: none;
    border: 1px solid #ba6;
    font-weight:bold;
  }
  .custom-btn:active{
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  .btn-7{
    border-color: #7c7c7c;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(#e6e6e6));
  }
.back{
    padding: 8px 12px;
    margin-right: .5em;
}   
.start{
    padding: 8px 24px;
}  
.exit{
    padding: 8px 24px;
}   
.infoUser{
    display: inline-block;
    font-size: 14px;
    padding-left: 1em;
    padding-right: 1em;
    color: black;
    font-weight: bold;
}
span.infoUserLabel {
    color: #01d3d3;
} 
.wrapMainTex{
    margin-top: .5em;
}
.containerText {
    background: hsl(0deg 2% 90% / 51%);
    color: #01d3d3;
    font-size: 20px;
    width: 79%;
    margin: auto;
    font-weight: bold;
    border-radius: 5px;
}
table#userTable {
    width: 100%;
    text-align: center;
}

table#userTable thead tr th {
    padding: 4px;
}
td.status {
    border-radius: 4px;
    color: white;
}
.active{
    background-color: #73c91b;

}
.inactive{
    background-color: ff6666;
}
.activeTr{
    background-color: #a5d6a7ab;
    transition: .8s;
}
.inactiveTr{
    background-color: transparent;
    transition: .8s
}
.tableButtons {
    margin: 18px;
}

/* @media screen and (min-width: 44em) {
    h1 {
        font-size: 5em;
   }
    #principal {
        width: 70%;
   }
    aside {
        width: 29%;
        margin-top: 0;
   }
} */
  
  .btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px;
  }
  
  .btn {
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
  }
  
  .btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  
  .demo-panel-title {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  .btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  
  a {
    color: #1abc9c;
    text-decoration: underline;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
  }
  
  a {
    color: #0088cc;
    text-decoration: none;
  }
  
  user agent stylesheeta:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
  }
  
  body {
    color: #34495e;
    font: 14px/1.231 "Lato", sans-serif;
  }
  
  .btn {
    border: none;
    background: #34495e;
    color: white;
    font-size: 16.5px;
    text-decoration: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }
    .btn:hover, .btn:focus {
      background-color: #4e6d8d;
      color: white;
      -webkit-transition: 0.25s;
      -moz-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s;
      -webkit-backface-visibility: hidden; }
    .btn:active, .btn.active {
      background-color: #2c3e50;
      color: rgba(255, 255, 255, 0.75);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    .btn.disabled, .btn[disabled] {
      background-color: #95a5a6;
      color: white; }
    .btn.btn-large {
      padding-bottom: 12px;
      padding-top: 13px; }
    .btn.btn-primary {
      background-color: #1abc9c; }
      .btn.btn-primary:hover, .btn.btn-primary:focus {
        background-color: #2fe2bf; }
      .btn.btn-primary:active, .btn.btn-primary.active {
        background-color: #16a085; }
    .btn.btn-info {
      background-color: #3498db; }
      .btn.btn-info:hover, .btn.btn-info:focus {
        background-color: #5dade2; }
      .btn.btn-info:active, .btn.btn-info.active {
        background-color: #2383c4; }
    .btn.btn-danger {
      background-color: #e74c3c; }
      .btn.btn-danger:hover, .btn.btn-danger:focus {
        background-color: #ec7063; }
      .btn.btn-danger:active, .btn.btn-danger.active {
        background-color: #dc2d1b; }
    .btn.btn-success {
      background-color: #2ecc71; }
      .btn.btn-success:hover, .btn.btn-success:focus {
        background-color: #55d98d; }
      .btn.btn-success:active, .btn.btn-success.active {
        background-color: #27ad60; }
    .btn.btn-warning {
      background-color: #f1c40f; }
      .btn.btn-warning:hover, .btn.btn-warning:focus {
        background-color: #f4d03f; }
      .btn.btn-warning:active, .btn.btn-warning.active {
        background-color: #cea70c; }
    .btn-toolbar .btn {
      font-size: 18px;
      padding: 10px 14px 9px; }
      .btn-toolbar .btn:first-child {
        -webkit-border-radius: 6px 0 0 6px;
        -moz-border-radius: 6px 0 0 6px;
        border-radius: 6px 0 0 6px; }
      .btn-toolbar .btn:last-child {
        -webkit-border-radius: 0 6px 6px 0;
        -moz-border-radius: 0 6px 6px 0;
        border-radius: 0 6px 6px 0; }
  
  .btn-toolbar .btn.active {
    color: white; }
  

  .span3 {
    width: 220px; }
  
    [class*="span"] {
        min-height: 1px;
        margin: 8px auto;
    }